App{
  width: 100%;
}

h1{
  color: #050241;
  font-size: 1em;
}

.paneles{
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 2em;
  box-sizing: border-box;
}

.paneles div {
  border-radius: 3px;
  background-color: #F4F4F4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.paneles div h2{
  color: var(--azul);
  font-size: 1.25em;
  margin: 10px 0;
  font-family: "Baskervville SC", serif;
  font-weight: 600;
  font-style: normal;
}

.paneles div h3{
  color: var(--azul);
  font-size: 1.75em;
  margin: 10px 0;
  font-family: "Baskervville SC", serif;
  font-weight: 600;
  font-style: normal;
}

.paneles div p{
  color: var(--azul);
  margin: 0.5em 0;
  font-size: 0.9em;
}


.paneles div img {
  width: 100%;
  height: auto;
  max-width: 150px;
}

.paneles div.hovered {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}