.carousel {
    width: 80%;
    max-width: 50em; /* 800px to 50em */
    overflow: hidden;
    border-radius: 0.625em; /* 10px to 0.625em */
    box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.1); /* 4px to 0.25em, 10px to 0.625em */
    position: relative;
    margin: 0 auto;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 1.25em; /* 20px to 1.25em */
    cursor: pointer;
    padding: 0.625em; /* 10px to 0.625em */
    border-radius: 50%;
}

.carousel-button.left {
    left: 0.625em; /* 10px to 0.625em */
}

.carousel-button.right {
    right: 0.625em; /* 10px to 0.625em */
}

.carousel-indicators {
    position: absolute;
    bottom: 0.9375em; /* 15px to 0.9375em */
    left: 36%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-indicators span {
    height: 0.625em; /* 10px to 0.625em */
    width: 0.625em; /* 10px to 0.625em */
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 0.3125em; /* 5px to 0.3125em */
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #fff;
}
